In [21]:
## 01
symbols = "$*&!@"
codes = []

for symbol in symbols:
    codes.append(ord(symbol))

print(codes)

[36, 42, 38, 33, 64]

In [22]:
## 02
symbols = "$*&!@"
codes = [ord(symbol) for symbol in symbols]

print(codes)

[36, 42, 38, 33, 64]

In [23]:
## 03
x = '"!~$$*&!@'
dummy = [ord(x) for x in x]

print(x)
print(dummy)

"!~$$*&!@
[34, 33, 126, 36, 36, 42, 38, 33, 64]

In [24]:
## 04
symbols = '"!~$$*&!@'
beyond_ascii = [ord(s) for s in symbols if ord(s) > 32]

print(beyond_ascii)

[34, 33, 126, 36, 36, 42, 38, 33, 64]

In [25]:
## 05
symbols = '"!~$$*&!@'
beyond_ascii = list(filter(lambda c: c > 64, map(ord, symbols)))

print(beyond_ascii, '\n')

print(f"map function:\n>>> {map(ord, symbols)}")
print(f"List after map:\n>>>  {list(map(ord, symbols))}")

[126]

map function:
>>> <map object at 0x7927536c9ae0>
List after map:
>>>  [34, 33, 126, 36, 36, 42, 38, 33, 64]

In [26]:
## 06
colors = ['black', 'white']
sizes = ['S', 'M', 'L']
tshirts = [(color, size) for color in colors for size in sizes]

print(tshirts)

for color in colors:
    for size in sizes:
        print((color, size))

[('black', 'S'), ('black', 'M'), ('black', 'L'), ('white', 'S'), ('white', 'M'), ('white', 'L')]
('black', 'S')
('black', 'M')
('black', 'L')
('white', 'S')
('white', 'M')
('white', 'L')

In [27]:
## 07
symbols = "!#^&&#"
ord_s = tuple(ord(s) for s in symbols if ord(s))

print(ord_s)

(33, 35, 94, 38, 38, 35)

In [28]:
## 08
colors = ['black', 'white']
sizes = ['S', 'M', 'L']

for tshirt in ('{} {}'. format(c, s) for s in sizes for c in colors):
    print(tshirt)

black S
white S
black M
white M
black L
white L

In [30]:
## 09
lax_coordinates = (33.9425, -118.408056)
city, year, pop, chg, area = ('Tokyo', 2003, 32450, 0.66, 8014)
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'), ('ESP', 'XDA205856')]

for passport in sorted(traveler_ids):
  print('%s/%s' % passport)
  print('{}/{}'.format(passport[0], passport[1]))
  print(f'{passport[0]}/{passport[1]}')

BRA/CE342567
BRA/CE342567
BRA/CE342567
ESP/XDA205856
ESP/XDA205856
ESP/XDA205856
USA/31195855
USA/31195855
USA/31195855

In [31]:
## 10
for country, _ in traveler_ids:
  print(country)

USA
BRA
ESP

In [32]:
## 11
lax_coordinates = (33.9425, -118.408056)
latitude, longitude = lax_coordinates
print(latitude)
print(longitude)

33.9425
-118.408056

In [33]:
## 12
a=10; b=20
b, a = a, b
print(a, b)

20 10

In [38]:
## 13
divmod(20, 8)

(2, 4)

In [36]:
## 13_2
t = (20, 8)
divmod(*t)

(2, 4)

In [37]:
## 13_3
quotient, remainder = divmod(*t)
quotient, remainder

(2, 4)

In [39]:
## 14
import os
_, filename = os.path.split('/home/luciano/.ssh/idrsa.pub')
filename

'idrsa.pub'

In [40]:
## 15
a, b, *rest = range(5)
a, b, rest

(0, 1, [2, 3, 4])

In [41]:
## 15_2
a, b, *rest = range(3)
a, b, rest

(0, 1, [2])

In [42]:
## 15_3
a, b, *rest = range(2)
a, b, rest

(0, 1, [])

In [43]:
## 16
a, *body, c, d = range(5)
a, body, c, d

(0, [1, 2], 3, 4)

In [44]:
## 16_2
*head, b, c, d = range(5)
head, b, c, d

([0, 1], 2, 3, 4)

In [47]:
## 17
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35, 139)),
    ('Delhi NCR', 'IN', 21, (28, 77)),
    ('Mexico City', 'MX', 20, (19, -99)),
    ('New York-Newark', 'US', 20, (40, -74)),
    ('Sao Paulo', 'BR', 19, (-23, -46)),
]

print("{:15} | {:^9} | {:^9}".format('', 'lat.', 'long.'))
fmt = '{:15} | {:9.4f} | {:9.4f}'

for name, cc, pop, (lat, longi) in metro_areas:
    if longitude <= 0:
        print(fmt.format(name, lat, longi))

                |   lat.    |   long.
Tokyo           |   35.0000 |  139.0000
Delhi NCR       |   28.0000 |   77.0000
Mexico City     |   19.0000 |  -99.0000
New York-Newark |   40.0000 |  -74.0000
Sao Paulo       |  -23.0000 |  -46.0000

In [48]:
## 18
from collections import namedtuple
City = namedtuple('City', 'name country population coordinates')
tokyo = City('Tokyo', 'JP', 36.933, (35.689, 139.691))
tokyo

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689, 139.691))

In [49]:
## 18_2
tokyo.population

36.933

In [50]:
## 18_3
tokyo.coordinates

(35.689, 139.691)

In [51]:
## 18_4
tokyo[1]

'JP'

In [52]:
## 19
City._fields

('name', 'country', 'population', 'coordinates')

In [54]:
## 19_2
LatLong = namedtuple('LatLong', 'lat long')
delhi_data = ('Delhi NCR', 'IN', 21.935, LatLong(28.613, 77.208))

In [55]:
## 19_3
delhi = City._make(delhi_data)
delhi._asdict()

{'name': 'Delhi NCR',
 'country': 'IN',
 'population': 21.935,
 'coordinates': LatLong(lat=28.613, long=77.208)}

In [56]:
## 19_4
for key, value in delhi._asdict().items():
    print(key + ':', value)

name: Delhi NCR
country: IN
population: 21.935
coordinates: LatLong(lat=28.613, long=77.208)

In [57]:
## 20
l = [10, 20, 30, 40, 50, 60]
l[:2]

[10, 20]

In [58]:
## 20_2
l[2:]

[30, 40, 50, 60]

In [59]:
## 20_3
l[:3]

[10, 20, 30]

In [60]:
## 20_4
l[3:]

[40, 50, 60]

In [63]:
## 21
invoice = """
0.....6..................25........33......40.......
1909  Pimoroni            $17.50    3     $52.50
1489  6mm Tactile         $4.95     2     $9.90
"""

SKU = slice(0, 6)
DESCRIPTION = slice(6, 25)
UNIT_PRICE = slice(25, 33)
QUANTITY = slice(33, 40)
ITEM_TOTAL = slice(40, None)

line_items = invoice.split('\n')[2:]

for item in line_items:
    print(item[UNIT_PRICE], item[DESCRIPTION])

 $17.50  Pimoroni
 $4.95   6mm Tactile

In [64]:
## 22
l = list(range(10))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
## 22_2
l[2:5] = [20, 30]
l

[0, 1, 20, 30, 5, 6, 7, 8, 9]

In [66]:
## 22_3
del l[5:7]
l

[0, 1, 20, 30, 5, 8, 9]

In [67]:
## 22_4
l[3::2] = [11, 22]
l

[0, 1, 20, 11, 5, 22, 9]

In [91]:
## 23
#l[2:5] = 100

In [69]:
## 24
l[2:5] = [100]
l

[0, 1, 100, 22, 9]

In [71]:
## 25
l = [1, 2, 3]
l * 5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [72]:
## 25_2
5 * 'abcd'

'abcdabcdabcdabcdabcd'

In [73]:
## 26
board = [['_'] * 3 for i in range(3)]
board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [74]:
## 26_2
board[1][2] = 'x'
board

[['_', '_', '_'], ['_', '_', 'x'], ['_', '_', '_']]

In [75]:
## 27
weird_board = [['_'] * 3] * 3
weird_board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [76]:
## 27_2
weird_board[1][2] = '0'
weird_board

[['_', '_', '0'], ['_', '_', '0'], ['_', '_', '0']]

In [77]:
## 28
row = ['_'] * 3
board = []
for i in range(3):
  board.append(row)

board[1][2] = 'x'

board

[['_', '_', 'x'], ['_', '_', 'x'], ['_', '_', 'x']]

In [78]:
## 29
board = []
for i in range(3):
  row = ['_'] * 3
  board.append(row)

print(board)

board[2][0] = 'x'

board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

[['_', '_', '_'], ['_', '_', '_'], ['x', '_', '_']]

In [84]:
## 30
l = [1, 2, 3]
id(l)

133209799804672

In [85]:
## 30_2
l *= 2
l

[1, 2, 3, 1, 2, 3]

In [86]:
## 30_3
id(l)

133209799804672

In [87]:
## 31
t = (1, 2, 3)
id(t)

133209798201792

In [88]:
## 31_2
t *= 2
id(t)

133209800335584

In [90]:
## 32
#t = (1, 2, [30, 40])
#print(t)

#t[2] += [50, 60]